/* General body styling */
body {
    background-color: #ffffff; /* White background for the body */
    color: #333; /* Darker text for readability */
    font-family: Arial, sans-serif;
}

/* Image styling */
img {
    border: 5px solid #fff; /* White border around images */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Paragraph styling */
.hello p {
    margin-top: 60px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
    text-align: center;
}

/* Section styling for NYC and Miami University */
.section-gray {
    background-color: #f8f9fa; /* Light gray background */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Remove default link styling and make the whole card clickable */
.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .custom-card {
    border-color: #007bff;
}

.custom-card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}

/* Custom styles for the card */
.custom-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.custom-card .card-title {
    color: #333;
}

.custom-card .card-text {
    color: #555;
}

.custom-card:hover .card-title,
.custom-card:hover .card-text {
    color: #007bff;
}

/* Initial state for fade-in effect */
.fade-in-card {
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;
}

/* Final state for fade-in effect */
.fade-in-card.show {
    opacity: 1;
    transform: translateY(0);
}

.blog-post-placeholder {
    background-color: #f0f0f0; /* Gray background color */
    padding: 20px; /* Add some padding to create space between the content and the background */
    border-radius: 5px; /* Add some rounded corners for visual appeal */
    margin-bottom: 20px; /* Add margin to create space between blog posts */
}

.contact-section {
    background-color: #f8f9fa; /* Light gray background */
    padding: 30px;
    border-radius: 10px; /* Rounded corners */
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form textarea {
    resize: none; /* Disable resizing */
}

.contact-form button {
    width: 100%;
}